* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #17181a;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  position: relative;
}
main {
  position: absolute;
  cursor: none;

}

#logo {
  color: white;
  font-family: "Abril Fatface";
  cursor: pointer;
  text-decoration:none;


}

.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
  z-index: 2;
  position: relative;
  cursor: none;
}
.line1,
.line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: white;
  pointer-events: none;
}

.slide {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #17181a;
}

.hero-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  padding-left: 5rem;
  position: relative;
}
.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fashion-span {
  color:rgb(255, 139, 93);

}
.mountain-span {
  color:  rgb(86, 124, 228);


}

.hike-span {
  color: rgb(167, 110, 231);
}
.hero-desc h2 {
  font-family: "Abril Fatface";
  font-size: 5rem;
}
.hero-desc p {
  padding: 3rem 0rem;
  font-size: 1.2rem;
  line-height: 2rem;
  color: rgb(223, 223, 223);
}
.explore,.scroll {
  padding: 1rem 2rem;
  background: none;
  border: none;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  text-decoration: none;
  align-self: flex-start;
  cursor: none;

}
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}
.burger {
  cursor: pointer;
}
.nav-links {
  font-size: 3rem;
  flex-basis: 30rem;
}
.nav-links h3 {
  padding: 3rem 0rem;
}
.contact {
  flex-basis: 30rem;
}
.contact h2 {
  font-size: 3rem;
  padding: 2rem 0rem;
}
.contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.reveal-img,
.reveal-text {
  position: absolute;
  width: 100%;
  height: 150%;
  background: #17181a;
  left: 0;
  top: -15%;
}

.cursor {
  width: 2rem;
  height: 2rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
}
.cursor.nav-active {
  background: rgb(86, 124, 228);
  transform: scale(3);
}
.cursor.explore-active {
  background: white;
  transform: scale(3);
}
.cursor-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.5rem;
  transform: translate(-50%, -50%);
}
.title {
  position: relative;
  overflow: hidden;
}
.title-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  transform: translateY(100%);
}
.t-swipe1 {
  background: rgb(86, 124, 228);


}
ul{
  line-height: 2rem;
}
.t-swipe2 {
  background: rgb(167, 110, 231);
}
.t-swipe3 {
  background: rgb(255, 139, 93)

}


.scrollmagic-pin-spacer {
  position: static !important;
}
body.hide {
  overflow: hidden;
}

/* Other Pages */
.fashion1,
.fashion2,
.fashion3 {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  font-size: 1.1rem;
  color: white;
  margin-top: 0rem;
  flex-wrap: wrap;
  position: relative;
}
.fashion-img {
  height: 100%;
  width: 100%;
  flex-basis: 30rem;
  
}
.fashion-text {
  flex: 1;
  position: relative;
  flex-basis: 25rem;
  font-size: 1.1rem;
}
.fashion-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fashion-text h1 {
  font-size: 6rem;
  padding: 3rem 0rem;
}

.fashion1 h1 {
  color: rgb(255, 139, 93);
}
.fashion2 h1 {
  color: rgb(167, 110, 231);
}
.fashion3 h1 {
  color: rgb(86, 124, 228);
}

.fashion-text p {
  font-size: 1.5rem;
  line-height: 3rem;
  padding: 2rem 2rem 0rem 0rem;
  margin-bottom: 10rem;
}
.fashion-nr {
  font-size: 15rem;
  position: absolute;
  left: 50%;
  bottom: 10%;
  color: white;
  opacity: 0.2;
}

.swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.swipe1 {
  background: rgb(167, 110, 231);
  z-index: 5;
}
.swipe2 {
  background: rgb(86, 124, 228);
  z-index: 4;
}
.swipe3 {
  background: rgb(255, 139, 93);
  z-index: 3;
}
.fashion-img a {
 cursor: none;
  
}

@media screen and (max-width: 1500px) {
  .hero-img {
    height: 50vh;
  }
  .fashion-text h1 {
    font-size: 2rem;
    padding: 1rem 0rem;
  }
  .fashion-text p {
    font-size: 1.1rem;
  }
  .fashion-img img {
    height: 50vh;
    object-position: top;
    
  }
}

@media screen and (max-width: 1024px) {
  main {
    width: 100%;
    margin: 0;
  }
  .slide {
    display: block;
    width: 100%;
    text-align: center;
  }
  .hero-desc {
    padding: 0;
  }
  .hero-img {
    padding-top: 4rem;
  }
  .hero-desc h2 {
    font-size: 1.6rem;
    padding: 1rem 0rem;
  }
  .hero-desc p {
    padding: 2rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
  .explore {
    width: 60%;
    margin: auto;
  }
  .detail-slide {
    width: 100%;
    text-align: center;
  }
  .fashion-text p {
    margin-bottom: 5rem;
    padding: 0;
  }
  .fastion-text h1 {
    margin: 2rem 0rem;
  }
  .fashion-nr {
    font-size: 8rem;
  }
  .nav-bar {
    display: block;
  }
  .nav-links {
    font-size: 2rem;
    text-align: center;
  }
  .contact h2 {
    font-size: 3rem;
    text-align: center;
  }
  .contact p {
    font-size: 1.2rem;
    padding: 2rem;
    text-align: center;
  }
}
::-webkit-scrollbar{
  width: 0;
}

/* 
 */
 .demo a {
  position: absolute;
  bottom: 50px;
  left: 43%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}


#section06 a span,#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


nav a{
  text-decoration: none;
  color: black;
}

.links_pro{
  cursor: none;
}